{% extends 'base.html.twig' %}

{% block title %}Inscription a biprof{% endblock %}

{% block body %}

    <h1>S'inscrire</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_row(registrationForm.Provider) }}

        <button type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
