{% extends 'base.html.twig' %}

{% block title %}Inscription a biprof{% endblock %}

{% block body %}

    <h1>S'inscrire</h1>

    {# templates/registration/register.html.twig #}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.Provider) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
