{% extends 'base.html.twig' %}

{% block title %}Inscription a biprof{% endblock %}

{% block body %}

    <h1>S'inscrire</h1>

    {# templates/registration/register.html.twig #}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email'}}) }}
        {{ form_widget(registrationForm.tel, {'attr': {'type': 'tel','placeholder': 'Tel'}}) }}
        {{ form_widget(registrationForm.password,{'attr': {'placeholder': 'Mot de passe'}}) }}
        {{ form_widget(registrationForm.Provider, {value: app.request.get('provider') } ) }}
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'label': 'Terme'}}) }}

        <button type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
