{% extends 'base.html.twig' %}

{% block title %}Page membre{% endblock %}

{% block body %}


    <h1> Bienvenue !</h1>

    <p>Votre candidat </p>

    {{ dump(profileUsers) }}

    <a href=mailto:"{{profileUsers|first.candidate.email}}"> Contacter le candidat par mail</a>
    {% for user in profileUsers %}
        <ul>
            <li>Poste: {{ user.speciality|e }} </li>
            <li>annees d'experience: {{ user.years|e }} </li>
            <li>Description: {{ user.about|e }} </li>
        </ul>
    {% endfor %}


{% endblock %}
