<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
            </head>
            <body>
                <header>
                <nav>
                    <ul><img class="logo" src="img/logo3.png" alt="biprof">
                        <li><a href="/">ACCUEIL</a></li>
                        <li><a href="#about">A PROPOS</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('membre') }}">PROFILE</a></li>
                            <li><a href="{{ path('app_logout') }}">DECONNEXION</a></li>
                        {% else %}
                            <li><a href="{{ path('app_register') }}">INSCRIPTION</a></li>
                            <li><a href="{{ path('app_login') }}">LOGIN</a></li>
                        {% endif %}
                        <li><a href="#contact">CONTACT</a></li>
                    </ul>
                </nav>
            </header>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
