<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
            </head>
            <body>
                <header>
                <nav>
                    <ul><img class="logo" src="assets/img/logo3.png" alt="biprof">
                        <li><a href="/">ACCUEIL</a></li>
                        <li><a href="#about">A PROPOS</a></li>
                        {% if app.user %}
                            {% if app.user.isProvider  %}
                                <li><a href="{{ path('app_membrepro') }}">VOIR LES CANDIDATS</a></li>
                                {% else %}
                                <li><a href="{{ path('app_profile') }}">PROFILE</a></li>
                            {% endif %}

                            <li><a href="{{ path('app_logout') }}">DECONNEXION</a></li>
                        {% else %}
                            <li><a href="{{ path('app_register', {'provider': 1}) }}">JE SUIS UNE ECOLE</a></li>
                            <li><a href="{{ path('app_register', {'provider': 0}) }}">JE SUIS UN FORMATEUR</a></li>
                            <li><a href="{{ path('app_login') }}">CONNEXION</a></li>
                        {% endif %}
                        <li><a href="#contact">CONTACT</a></li>
                    </ul>
                </nav>
            </header>

            {# display any flash message #}    

            <div class="example-wrapper">{% block body %}  {% endblock %}</div>
    </body>
</html>
